[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/harish-ip
[access "refs/for/refs/*"]
	read = group user/harish-ip
	push = group user/harish-ip
	label-Code-Review = -2..+2 group user/harish-ip
	label-Verified = -1..+1 group user/harish-ip
	rebase = group user/harish-ip
	removeReviewer = group user/harish-ip
	submit = group user/harish-ip
[access "refs/heads/*"]
	read = group user/harish-ip
	create = group user/harish-ip
	push = +force group user/harish-ip
	pushMerge = group user/harish-ip
[access "refs/tags/*"]
	push = group user/harish-ip
	push = +force group user/harish-ip
